[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio CODE URL Handler
Comment=Handle URL Scheme vscode:// subl:// and txmt://
Icon=code
NoDisplay=true
Categories=TextEditor;Utility;
Exec=vscode-url-handler %u
Terminal=false
MimeType=x-scheme-handler/txmt;x-scheme-handler/subl;x-scheme-handler/vscode
X-Desktop-File-Install-Version=0.21
